In [2]:
import pandas as pd

In [30]:
exprs = !ls -1 /Users/nikita/Data/preproc/GSE19864_GPL570/out/*.expr
exprs[:10]

['/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496089.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496090.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496091.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496092.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496093.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496094.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496095.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496096.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496097.expr',
 '/Users/nikita/Data/preproc/GSE19864_GPL570/out/GSM496098.expr']

In [35]:
samples = []
for e in exprs:
    samples.append(pd.read_csv(e, skiprows=1, sep=' ', names=['probe', 'expr']))

In [36]:
samples[1][:10]

       probe        expr
0  1007_s_at  303.244516
1    1053_at   66.793174
2     117_at   57.692653
3     121_at  409.035096
4  1255_g_at   11.738109
5    1294_at   79.103901
6    1316_at   43.823432
7    1320_at   19.775184
8  1405_i_at   10.796360
9    1431_at   12.744064

In [37]:
for s in samples:
    print(s['expr'].mean())

202.187545663
199.708160639
197.049729998
207.59181009
203.767367366
198.286800607
209.688342751
196.536990873
189.132770244
200.658317567
198.21997248
200.436689022
203.759512528
202.589314656
205.128109036
206.856980008
215.775897697
215.11593673
202.269860219
211.672790598
214.560430934
215.478572096
214.490706873
213.931144039
209.823092851
207.263437004
204.348725865
204.768771406
204.246270101
212.785371037
213.88667226
205.086852054
225.251232404
222.191551428
220.523328702
220.312159638
219.534561021
220.39816585