In [1]:
import pymongo as pm
import pandas as pd

In [2]:
db = pm.MongoClient().scraper_test_dev

In [22]:
query = {
    'annotation.tissue_id': {'$ne': None},
    'platform': 'GPL570',
    'data_source': 'geo'
}

fields = {
    '_id': 0,
    'accession': 1,
    'annotation.tissue_id': 1,
}

In [14]:
list(db.samples.find(query, fields).limit(2))

[{'accession': 'GSM235041', 'annotation': {'tissue_id': 'BTO:0000007'}},
 {'accession': 'GSM1558598', 'annotation': {'tissue_id': 'BTO:0000007'}}]

In [23]:
db.samples.count(query)

56469

In [24]:
_c = db.samples.find(query, fields)
homo_sapiens_gpl570_geo_tissues = pd.DataFrame(list(_c))
homo_sapiens_gpl570_geo_tissues.head()

,accession,annotation
0,GSM784885,{'tissue_id': 'BTO:0000649'}
1,GSM286682,{'tissue_id': 'BTO:0000108'}
2,GSM629548,{'tissue_id': 'BTO:0000452'}
3,GSM1684055,{'tissue_id': 'BTO:0000142'}
4,GSM1684054,{'tissue_id': 'BTO:0000142'}

In [ ]:
homo_sapiens_gpl570_geo_tissues['tissue']

In [25]:
homo_sapiens_gpl570_geo_tissues.shape

(56469, 2)

In [37]:
query = {
    'annotation.norm': {'$ne': None},
    'annotation.tissue_id': {'$ne': None},
    'platform': 'GPL570',
    'data_source': 'geo'
}

fields = {
    '_id': 0,
    'accession': 1,
    'annotation.norm': 1,
}

In [38]:
db.samples.count(query)

6745

In [30]:
_c = db.samples.find(query, fields)

homo_sapiens_gpl570_geo_norm = pd.DataFrame(list(_c))
homo_sapiens_gpl570_geo_norm.head()

,accession,annotation
0,GSM784885,{}
1,GSM286682,{}
2,GSM629548,{}
3,GSM1684055,{}
4,GSM1684054,{}

In [31]:
homo_sapiens_gpl570_geo_norm['norm'] = homo_sapiens_gpl570_geo_norm.annotation.map(lambda a: a.get('norm', 0))

In [32]:
homo_sapiens_gpl570_geo_norm.norm.value_counts()

0    49724
1     6745
dtype: int64

In [34]:
homo_sapiens_gpl570_geo_norm[['accession', 'norm']]

,accession,norm
0,GSM784885,0
1,GSM286682,0
2,GSM629548,0
3,GSM1684055,0
4,GSM1684054,0
5,GSM1684056,0
6,GSM1684058,0
7,GSM1684057,0
8,GSM1684062,0
9,GSM1684061,0
10,GSM1684060,0
11,GSM1684059,0
12,GSM1684066,0
13,GSM1684065,0
14,GSM1684064,0
15,GSM1684063,0
16,GSM1684070,0
17,GSM1684069,0
18,GSM1684068,0
19,GSM1684067,0
20,GSM1684072,0
21,GSM1684071,0
22,GSM1684076,0
23,GSM1684075,0
24,GSM1684074,0
25,GSM1684073,0
26,GSM1684080,0
27,GSM1684079,0
28,GSM1684078,0
29,GSM1684077,0
...,...,...
56439,GSM328657,1
56440,GSM350318,0
56441,GSM901619,0
56442,GSM283064,0
56443,GSM508820,0
56444,GSM441392,0
56445,GSM525860,0
56446,GSM350282,0
56447,GSM835296,0
56448,GSM1361942,0
56449,GSM286712,0
56450,GSM784860,0
56451,GSM1684110,0
56452,GSM259403,0
56453,GSM264316,0
56454,GSM877711,0
56455,GSM1419788,1
56456,GSM350262,0
56457,GSM720206,1
56458,GSM754200,0
56459,GSM272203,0
56460,GSM286694,1
56461,GSM272305,0
56462,GSM109816,0
56463,GSM835304,0
56464,GSM272214,0
56465,GSM967632,0
56466,GSM623903,0
56467,GSM272300,0
56468,GSM286735,1